# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
.env

# Project specific data/logs
logs/

# Raw generated data
data/raw/*.csv
data/quarantine/

# OS specific
.DS_Store
Thumbs.db
