# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
.env

# Project specific data/logs
logs/*.txt


# Raw generated data
data/raw/*.csv
bronze/

silver/
gold/

# OS specific
.DS_Store
Thumbs.db
